<div class="header-container">
  <header>
    <h1 class="logo-text">PIXEL <br>PLAY</h1>
    <p class="slogan-text">“En Pixel Play, cada partida es una nueva oportunidad para ganar.”</p>
    <div class="login-icon">
     <a routerLink="/login"><img src="/icono-login.png" alt="Login" /></a>
    </div>
  </header>
  <nav class="menu-bar">
    <ul>
      <a routerLink="/home">Inicio</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
  <a routerLink="/nosotros">Nosotros</a>
  <a routerLink="/categorias">Categorías</a>
  <a routerLink="/carrito">Carrito</a>
  
  <!-- NUEVO BOTÓN ADMIN -->
  <a routerLink="/admin" class="admin-btn">🔧 Admin CRUD</a>
 </ul>
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Buscar...">
    </div>
  </nav>
</div>
