<div class="header-container">
  <header>
    <h1 class="logo-text">PIXEL <br>PLAY</h1>
    <p class="slogan-text">“En Pixel Play, cada partida es una nueva oportunidad para ganar.”</p>
    <div class="login-icon">
      <img src="/icono-login.png" alt="Login" />
    </div>
  </header>
  <nav class="menu-bar">
    <ul>
      <li><a routerLink="/">INICIO</a></li>
      <li><a routerLink="/categorias">CATEGORIAS</a></li>
      <li><a routerLink="/nosotros">NOSOTROS</a></li>
      <li><a routerLink="/carrito">MI CARRITO</a></li>
    </ul>
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Buscar...">
    </div>
  </nav>
</div>
